DATABASE_URL="postgresql://username:password@localhost:5432/vehicle_rental_db?schema=public"
PORT=3000
JWT_SECRET="your_jwt_secret_key_here"
JWT_SECRET_KEY="your_jwt_secret_key_here"
UPLOAD_PATH="./public/data/uploads/"
APP_NAME="Vehicle Rental Management API"
